$blue: #335c67;
$yellow: #fff3b0;
$orange: #e09f3e;
$red: #9e2a2b;
$maroon: #540b0e;

$grey1: #cfdbd5;
$grey2: #e8eddf;
$primary: #f5cb5c;
$dark: #242423;
$darkGrey: #333533;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $grey2;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
