$blue: #335c67;
$yellow: #fff3b0;
$orange: #e09f3e;
$red: #9e2a2b;
$maroon: #540b0e;

$grey1: #cfdbd5;
$grey2: #e8eddf;
$primary: #f5cb5c;
$dark: #242423;
$darkGrey: #333533;

* {
  margin: 0;
  padding: 0;
  // box-sizing: border-box;
  // color: $darkGrey;
}

#btn {
  color: $red;
}

// .MuiAppBar-colorPrimary {
//   $blue
// }
